{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock title %}
    
{% block content %}

            <div class="card">
                <div class="card-body">
                    <div class="px-2 py-3">
                        <div class="text-center">
                            {% comment %} <a href="{% url 'dashboard' %}">
                                <img src="{% static 'images/logo-dark.png' %}" height="22" alt="logo">
                            </a> {% endcomment %}

                            <h5 class="text-primary mb-2 mt-4">Reset Password</h5>
                            <p class="text-muted">Re-Password with Morvin.</p>
                        </div>

                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <div class="alert alert-borderless alert-warning text-center mb-2 mx-2" role="alert">
                            {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                        </div>

                        <form class="needs-validation" novalidate method="POST" action="{% url 'account_reset_password' %}">
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} mb-4" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %} 
                            {% if field.help_text %}
                                <div class="alert alert-danger mb-4" role="alert">
                                    <strong>{{ field.help_text }}</strong>
                                </div>
                            {% endif %}
                            {% csrf_token %}
                            <div class="mb-3">
                                {{form.email|as_crispy_field}}
                            </div>
        
                            <div class="row mb-0">
                                <div class="col-12 text-end">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Send Reset Link</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="mt-5 text-center text-white">
                <p>Remember It ? <a href="{% url 'account_login' %}" class="fw-bold text-white"> Sign In</a> </p>
                <p>© <script>document.write(new Date().getFullYear())</script> Morvin. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign</p>
            </div>
{% endblock content %}
